*.class
timeguessr/src/main/resources/static/images/*.jpg
timeguessr/src/main/resources/static/images/*.png
timeguessr/src/main/resources/imageinfos/images.json
timeguessr/timeguessr.cmd
timeguessr/compile.cmd
